@charset "UTF-8";
/* CSS Document */

.landingcontent {
	min-height: 500px;
	width:100%;
}
.half {
	display:inline-block;
	float:left;
	width:50%;	
}
.button {
	margin-left: 25px;
	margin-top: 200px;
	background-color: #7C7C7C;
	border-radius: 17px;
	border-style: solid;
	-webkit-box-shadow: 2px 3px 9px;
	box-shadow: 2px 3px 9px;
}
.button a {
	display: block;
	color: #DFDFDF;
	padding: 20px 0 20px 0;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
}
.button a:hover{
	color: #FC5600;
	font-weight: 900;
	font-size: 18px;
}
.button:hover {
	background-color:#BDBDBD;
}
