@charset "UTF-8";
html, body, p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
	margin: 0
}
ol, ul {
	list-style: none outside none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
:focus {
	outline: 0 none
}
ins {
	text-decoration: none
}
a img {
	border: 0
}
p {
	line-height: 14px
}
.article p {
	font-size: 14px;
	line-height: 16px;
	padding: 30px 20px 10px 20px;
	color: #333;
	text-indent: -5px
}
p.darkgrey {
	padding: 20px
}
.nestedcopyblockfirst {
	padding: 20px 0 10px 10px
}
.nestedcopyblock {
	padding: 10px 0 10px 10px
}
a {
	color: #000;
	font-weight: normal;
	text-decoration: none
}
a:hover {
	color: #f15a22
}
label {
	font-size: .8em;
	color: #ddd
}
h1 {
	color: #565656;
	font-size: 1.4em;
	font-weight: bold
}
h2, h3, h4, {
font-weight:700
}
h5 {
	font-size: .8em
}
h6, h6 a, address {
	text-align: center;
	font-size: 14px;
	font-style: normal;
	color: #ddd;
	padding: 2px
}
h1 a {
	font-weight: normal
}
h1#branding {
	font-weight: normal;
	font-size: 3em;
	text-align: left;
	background: #aaa;
	padding: .7em 1em;
	margin-bottom: 0
}
p.italic {
	font-family: arimo, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 36px;
	line-height: 30px
}
p.bolditalic {
	font-family: arimo, sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 36px;
	line-height: 30px
}
p.bold {
	font-family: arimo, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	line-height: 30px
}
h2#page-heading {
	font-weight: normal;
	padding: .5em;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #ccc
}
.bottomlinks {
	margin: 30px 0 10px 0;
	font-size: 10px;
	float: right;
	list-style: none
}
ul.bottomlinks li {
	color: #ddd;
	display: inline;
	padding: 4px 10px;
	border-right: solid 1px #ccc
}
ul.bottomlinks li a:hover {
	color: #333
}
ul.bottomlinks li a {
	color: #ccc
}
.walkaround {
	background-color: #FFF;
	text-align: center;
	color: #666;
	padding-top: 30px
}
.walkaround h2 {
	font-family: alfa-slab-one, serif;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	letter-spacing: 1.5px
}
.walkaround p {
	font-weight: 400;
	font-size: 16px;
	margin: 6px 0 12px 0
}
.walkaround li {
	font-style: italic;
	display: inline
}
.tip-tooltip img {
	position: relative
}
.tip-tooltip p {
	font-weight: 700;
	line-height: 20px;
	font-size: 18px;
	text-align: left;
	margin: 16px 0 10px 20px
}
.orangedot {
	color: #f30;
	margin-right: 15px
}
.greydot {
	color: #666
}
.orangedot img {
	position: relative;
	top: 4px;
	margin-right: 6px
}
.greydot img {
	position: relative;
	top: 4px;
	margin-right: 6px
}
