@charset "UTF-8";
body {
	border-top: 5px solid #f15a22;
	min-width: 940px;
	background-image: url(../images/bg_gradation.jpg);
	background-repeat: repeat-x;
	background-color: #666;
	font-family: "Arimo", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.videorule hr {
background: #4b4b4b; /* Old browsers */
background: -moz-linear-gradient(left, #4b4b4b 0%, #262626 50%, #4b4b4b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4b4b4b), color-stop(50%,#262626), color-stop(100%,#4b4b4b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #4b4b4b 0%,#262626 50%,#4b4b4b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #4b4b4b 0%,#262626 50%,#4b4b4b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #4b4b4b 0%,#262626 50%,#4b4b4b 100%); /* IE10+ */
background: linear-gradient(to right, #4b4b4b 0%,#262626 50%,#4b4b4b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#4b4b4b',GradientType=1 ); /* IE6-9 */
margin-bottom:30px;
}
hr {
	border: 0;
	height: 2px;
	margin-top: 30px;
	background: #f15a22;
	background-image: -webkit-linear-gradient(0deg, rgba(176,176,176,1.00) 0%, rgba(130,130,130,1.00) 50%, rgba(159,159,159,1.00) 100%);
	background-image: -moz-linear-gradient(0deg, rgba(176,176,176,1.00) 0%, rgba(130,130,130,1.00) 50%, rgba(159,159,159,1.00) 100%);
	background-image: -ms-linear-gradient(left, #ccc, #f15a22, #ccc);
	clear: both;
	background-image: -o-linear-gradient(0deg, rgba(176,176,176,1.00) 0%, rgba(130,130,130,1.00) 50%, rgba(159,159,159,1.00) 100%);
	background-image: linear-gradient(90deg, rgba(176,176,176,1.00) 0%, rgba(130,130,130,1.00) 50%, rgba(159,159,159,1.00) 100%);
}
.box hr, .moreadvantages hr {
	border: 0;
	height: 1px;
	margin-top: 30px;
	background: #666;
	background-image: -webkit-linear-gradient(left, #c1c1c1, #666, #c1c1c1);
	background-image: -moz-linear-gradient(left, #c1c1c1, #666, #c1c1c1);
	background-image: -ms-linear-gradient(left, #c1c1c1, #666, #c1c1c1);
	background-image: -o-linear-gradient(left, #c1c1c1, #666, #c1c1c1);
	clear: both
}
.tophr hr {
	border: 0;
	height: 2px;
	background: #f15a22;
	background-image: -webkit-linear-gradient(left, #666, #f15a22, #666);
	background-image: -moz-linear-gradient(left, #666, #f15a22, #666);
	background-image: -ms-linear-gradient(left, #666, #f15a22, #666);
	background-image: -o-linear-gradient(left, #666, #f15a22, #666);
	clear: both
}
.left {
	float: left
}
.right {
	float: right
}
.ticologo {
	margin: 40px 0 0 0;
	position: absolute;
	display: block
}
.ticophone {
	position: absolute;
	margin: 90px 0 0 16px;
	color: #b1b1b1;
	border: 0;
	letter-spacing: 2px;
	display: block
}
.blocktag {
	width: 210px;
	height: 125px;
	background-color: #f15a22;
	color: #fff;
	margin: 10px 0;
	padding: 0 0 0 10px;
	position: relative
}
.blocktag h2 {
	font-family: alfa-slab-one, serif;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1.5px;
	font-size: 31px;
	line-height: 29px;
	padding: 21px 10px 0 12px
}
.moreadvantages {
	padding: 40px 30px 10px 30px
}
.moreadvantages p {
	font-size: 400;
	line-height: 24px;
	padding-top: 7px
}
.moreadvantages hr {
	margin: 35px 0 20px 0
}
.moreadvantages li {
	text-align: left
}
.lastli {
	margin-bottom: 20px
}
.darkgrey {
	background: #4b4b4b;
	color: #fff;
	padding: 30px 0
}
.darkgrey h1 {
	color: #fff;
	padding-right: 20px;
	padding-left: 20px;
	letter-spacing: 1px;
}
.darkgrey p {
	color: #fff;
	line-height: 21px;
	padding-top: 0px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	letter-spacing: 1px;
}
.galvanized p {
	padding: 10px 30px 10px 36px;
	line-height: 22px;
}
.galvanized ul {
	list-style:outside disc;
	margin:10px 30px 20px 40px;
	line-height: 22px;	
}
.galvanized li {
	margin-bottom:15px;
}
.galvanized h1 {
	padding: 30px 20px 10px 36px
}
video {
	margin-right: 30px
}
footer img {
	margin: 30px 0 8px 374px
}
.alpha {
	margin-left: 0
}
.omega {
	margin-right: 0
}
.main {
	background-color: #DDD;
	color: #4c4c4c;
}
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15, .push_16, .pull_16 {
	position: relative
}
.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
	display: inline;
	float: left;
	position: relative
}
.grid_5 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 40px
}
.container_16 .grid_1 {
	width: 40px
}
.container_16 .grid_2 {
	width: 100px
}
.container_16 .grid_3 {
	width: 160px
}
.container_16 .grid_4 {
	width: 220px
}
.container_16 .grid_5 {
	width: 280px
}
.container_16 .grid_6 {
	width: 340px
}
.container_16 .grid_7 {
	width: 400px
}
.container_16 .grid_8 {
	width: 460px
}
.container_16 .grid_9 {
	width: 520px
}
.container_16 .grid_10 {
	width: 580px
}
.container_16 .grid_11 {
	width: 640px
}
.container_16 .grid_12 {
	width: 700px
}
.container_16 .grid_13 {
	width: 760px
}
.container_16 .grid_14 {
	width: 820px
}
.container_16 .grid_15 {
	width: 880px
}
.container_16 .grid_16 {
	width: 940px;
}
.container_16 .prefix_1 {
	padding-left: 60px
}
.container_16 .prefix_2 {
	padding-left: 120px
}
.container_16 .prefix_3 {
	padding-left: 180px
}
.container_16 .prefix_4 {
	padding-left: 240px
}
.container_16 .prefix_5 {
	padding-left: 300px
}
.container_16 .prefix_6 {
	padding-left: 360px
}
.container_16 .prefix_7 {
	padding-left: 420px
}
.container_16 .prefix_8 {
	padding-left: 480px
}
.container_16 .prefix_9 {
	padding-left: 540px
}
.container_16 .prefix_10 {
	padding-left: 600px
}
.container_16 .prefix_11 {
	padding-left: 660px
}
.container_16 .prefix_12 {
	padding-left: 720px
}
.container_16 .prefix_13 {
	padding-left: 780px
}
.container_16 .prefix_14 {
	padding-left: 840px
}
.container_16 .prefix_15 {
	padding-left: 900px
}
.container_16 .suffix_1 {
	padding-right: 60px
}
.container_16 .suffix_2 {
	padding-right: 120px
}
.container_16 .suffix_3 {
	padding-right: 180px
}
.container_16 .suffix_4 {
	padding-right: 240px
}
.container_16 .suffix_5 {
	padding-right: 300px
}
.container_16 .suffix_6 {
	padding-right: 360px
}
.container_16 .suffix_7 {
	padding-right: 420px
}
.container_16 .suffix_8 {
	padding-right: 480px
}
.container_16 .suffix_9 {
	padding-right: 540px
}
.container_16 .suffix_10 {
	padding-right: 600px
}
.container_16 .suffix_11 {
	padding-right: 660px
}
.container_16 .suffix_12 {
	padding-right: 720px
}
.container_16 .suffix_13 {
	padding-right: 780px
}
.container_16 .suffix_14 {
	padding-right: 840px
}
.container_16 .suffix_15 {
	padding-right: 900px
}
.container_16 .push_1 {
	left: 60px
}
.container_16 .push_2 {
	left: 120px
}
.container_16 .push_3 {
	left: 180px
}
.container_16 .push_4 {
	left: 240px
}
.container_16 .push_5 {
	left: 300px
}
.container_16 .push_6 {
	left: 360px
}
.container_16 .push_7 {
	left: 420px
}
.container_16 .push_8 {
	left: 480px
}
.container_16 .push_9 {
	left: 540px
}
.container_16 .push_10 {
	left: 600px
}
.container_16 .push_11 {
	left: 660px
}
.container_16 .push_12 {
	left: 720px
}
.container_16 .push_13 {
	left: 780px
}
.container_16 .push_14 {
	left: 840px
}
.container_16 .push_15 {
	left: 900px
}
.container_16 .pull_1 {
	left: -60px
}
.container_16 .pull_2 {
	left: -120px
}
.container_16 .pull_3 {
	left: -180px
}
.container_16 .pull_4 {
	left: -240px
}
.container_16 .pull_5 {
	left: -300px
}
.container_16 .pull_6 {
	left: -360px
}
.container_16 .pull_7 {
	left: -420px
}
.container_16 .pull_8 {
	left: -480px
}
.container_16 .pull_9 {
	left: -540px
}
.container_16 .pull_10 {
	left: -600px
}
.container_16 .pull_11 {
	left: -660px
}
.container_16 .pull_12 {
	left: -720px
}
.container_16 .pull_13 {
	left: -780px
}
.container_16 .pull_14 {
	left: -840px
}
.container_16 .pull_15 {
	left: -900px
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
.clearfix:before, .clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
.clearfix:after {
	clear: both
}
.clearfix {
	zoom: 1
}
